{% extends 'base.html.twig' %}
{% block body %}
    <h1 style="margin-top: -75px">Любой твой ответ будет правильным. Ты всегда думаешь о благе компании и ее росте, и поэтому не можешь принимать неверных решений. Все ошибки - опыт. Спасибо, что управляешь с умом, пониманием и взглядом в будущее. С днем рождения!
        Твои подарки ждут тебя в офисе, на твоем рабочем столе =)
    </h1>
    <p style="text-align: center; padding-top: 40px;">
        <img src="/finale_pic.png">
    </p>
{% endblock %}