{% extends 'base.html.twig' %}
{% block body %}
    <h1>Ты победил и тебя ждёт приз! Ура!</h1>
    <p style="text-align: center">
        {% include 'finish_image.swg.html.twig' %}
    </p>
{% endblock %}