{% extends 'base.html.twig' %}
{% block body %}
    <h1>Привет, <span>Лев</span>.<br>Сейчас ты пройдешь небольшой тест.</h1>
    <p class="answers">
        <a href="#">Начать</a>
    </p>
{% endblock %}